.stations-drawer__loop {
  font-weight: bold;
}

.stations-drawer__loop .am-accordion-header {
  padding-right: 45px !important;
}

.stations-drawer__station .am-list-content {
  padding-left: 1em;
  font-size: 0.9em !important;
  font-weight: 400;
}