.am-tab-bar {
  height: auto;
  cursor: pointer;
}
.am-drawer {
  top: 45px;
}
.am-drawer-sidebar {
  background-color: white;
}
.am-tab-bar-tab-title, .am-list-content {
  user-select: none;
  -moz-user-select: none;
}
#map {
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50px;
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Product Sans';

  background-color: white;
  border-bottom: 1px solid #ddd;
}
header > img {
  height: 1em;
}