.loops-carousel {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height is controlled inline in the component */
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100% !important;
}
.carousel .slider-control-bottomcenter > ul {
  top: 0 !important;
}
.carousel .slider-control-bottomcenter button {
  line-height: 9px;
  color: white !important;
}
.carousel .slider-frame {
  height: 100% !important;
  overflow: visible !important;
}
.carousel__card {
  height: 200px;
  display: block;
  width: 100vw;
  padding: 1rem 1.4rem;
  box-sizing: border-box;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  color: white;
  cursor: pointer;
}
.carousel__card__name {
  font-weight: 800;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}
.carousel__ctrl {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__ctrl > img {
  width: 100%;
  height: 100%;
}
.carousel__ctrl--left {
  margin-left: 10px;
  transform: rotate(90deg);
}
.carousel__ctrl--right {
  margin-right: 10px;
  transform: rotate(-90deg);
}

.expand-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  right: 5px;
  bottom: 0rem;
  padding: 0;
  background-color: #33A3F4;
  border: 2px solid rgba(255,255,255,0.6);
  cursor: pointer;
}

.expand-btn > img {
  width: 100%;
  height: 100%;
}