.loops-carousel-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height is controlled inline in the component */
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100% !important;
}
.carousel .slider-control-bottomcenter > ul {
  top: 0 !important;
}
.carousel .slider-control-bottomcenter button {
  line-height: 9px;
  color: white !important;
}
.carousel .slider-frame {
  height: 100% !important;
  overflow: visible !important;
}
.carousel__card {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 100vw;
  height: 400px;
  z-index: 100;
}
.carousel__card__head {
  height: 110px;
  box-sizing: content-box;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  filter: saturate(90%) brightness(100%);
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.15), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}
.carousel__card__head--expanded {
  height: auto;
  transition: color 0.5s, height 0.25s;
}
.carousel__card__name {
  display: inline-block;
  margin-left: 1.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}
.carousel__ctrl {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__ctrl > img {
  width: 100%;
  height: 100%;
}
.carousel__ctrl--left {
  margin-left: 10px;
  transform: rotate(90deg);
}
.carousel__ctrl--right {
  margin-right: 10px;
  transform: rotate(-90deg);
}

.mode-btn {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  right: 5px;
  top: -3.5rem;
  padding: 0;
  background-color: #33a3f4;
  border: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.mode-btn > img {
  width: 100%;
  height: 100%;
}
