svg {
  max-height: 100%;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapboxgl-marker.stop-marker {
  z-index: 0;
}
.mapboxgl-marker.stop-marker.stop-marker--selected {
  z-index: 100;
}

.mapboxgl-marker.shuttle-marker {
  z-index: 0;
}
.mapboxgl-marker.shuttle-marker--not-interacting {
  transition: top 1s linear, left 1s linear;
}

@font-face {
  font-family: 'Gangster Grotesk Regular';
  src: local('Gangster Grotesk Regular'), url(./fonts/GangsterGrotesk-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Gangster Grotesk Light';
  src: local('Gangster Grotesk Light'), url(./fonts/GangsterGrotesk-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gangster Grotesk Bold';
  src: local('Gangster Grotesk Bold'), url(./fonts/GangsterGrotesk-Bold.otf) format('opentype');
}
